# LIST

In [1]:
lst=['python',100,50.5,'@']

In [2]:
lst.append('program')

In [3]:
lst

['python', 100, 50.5, '@', 'program']

In [5]:
lst.count('python')

1

In [6]:
lst.index('@')

3

In [7]:
lst.insert(1,'language')

In [8]:
lst

['python', 'language', 100, 50.5, '@', 'program']

In [9]:
lst.pop(4)

'@'

In [10]:
lst

['python', 'language', 100, 50.5, 'program']

# DICTIONARY

In [11]:
Dict = {'name':'farhan', 'age':20, 'course':'python'}

In [12]:
Dict

{'name': 'farhan', 'age': 20, 'course': 'python'}

In [13]:
Dict.get('name')

'farhan'

In [16]:
Dict.keys()

dict_keys(['name', 'age', 'course'])

In [17]:
Dict.items()

dict_items([('name', 'farhan'), ('age', 20), ('course', 'python')])

In [18]:
Dict['source']='Letsupgrade'

In [19]:
Dict

{'name': 'farhan', 'age': 20, 'course': 'python', 'source': 'Letsupgrade'}

In [20]:
'age' in Dict

True

In [33]:
Dict.keys()

dict_keys(['name', 'age', 'course', 'source'])

In [34]:
Dict.values()

dict_values(['farhan', 20, 'python', 'Letsupgrade'])

In [35]:
Dict.pop('name')

'farhan'

In [36]:
Dict

{'age': 20, 'course': 'python', 'source': 'Letsupgrade'}

# SETS

In [37]:
st={'python' , 10 , 'c++' , 'java' , 'c++'}

In [38]:
type(st)

set

In [39]:
st

{10, 'c++', 'java', 'python'}

In [40]:
print(st)

{'java', 10, 'python', 'c++'}

In [41]:
st.add('mysql')

In [42]:
st

{10, 'c++', 'java', 'mysql', 'python'}

In [44]:
st.pop()

'java'

In [45]:
st.pop()

'c++'

In [46]:
st

{10, 'mysql', 'python'}

In [48]:
st.remove('mysql')

In [49]:
st

{10, 'python'}

In [50]:
st1 = {'java', 'c', 'c++', 10}

In [51]:
st1

{10, 'c', 'c++', 'java'}

In [52]:
st.union(st1)

{10, 'c', 'c++', 'java', 'python'}

In [55]:
st.intersection(st1)

{10}

In [56]:
st.difference(st1)

{'python'}

# TUPLE

In [57]:
tup= ('ball' , 'bat' , 5500 , 'phone')

In [58]:
type(tup)

tuple

In [59]:
tup.count('bat')

1

In [60]:
tup.index('phone')

3

In [61]:
tup[0]

'ball'

In [62]:
tup[2]

5500

In [63]:
tup1 = (tup , 'pc' , 'mouse')

In [64]:
tup1

(('ball', 'bat', 5500, 'phone'), 'pc', 'mouse')

In [65]:
tup1[0][3]

'phone'

In [66]:
tup1[2]

'mouse'

In [68]:
del tup[5500]

TypeError: 'tuple' object doesn't support item deletion

In [69]:
'pc' in tup1

True

# STRING

In [74]:
s= 'My name is Farhan'

In [76]:
type(s)

str

In [77]:
s1= 'I am learning Python'

In [78]:
s1

'I am learning Python'

In [80]:
s.index('M')

0

In [81]:
s.count('a')

3

In [83]:
s.endswith('n')

True

In [85]:
s.capitalize()

'My name is farhan'

In [89]:
s.isalpha()

False

In [87]:
s.isalnum()

False

In [92]:
s.split()

['My', 'name', 'is', 'Farhan']

In [93]:
s1.encode()

b'I am learning Python'

In [94]:
s1.format()

'I am learning Python'

In [96]:
s1.find('a')

2

In [97]:
s1.rsplit()

['I', 'am', 'learning', 'Python']

In [100]:
s1.startswith('i')

False

In [101]:
s1.startswith('I')

True

# completed